@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

body {
  color: rgb(var(--foreground-rgb));
  background: #979dac;
  background-blend-mode: color-burn;
}

@layer utilities {
  .item-tag {
    @apply p-4 cursor-pointer hover:scale-110 flex justify-between rounded-md transition-scale;
  }
  .item-card {
    @apply cursor-pointer rounded-sm border border-black h-[400px];
  }
  .search-focus {
    @apply outline-none ring ring-searchRingColor;
  }
  .basic-search {
    @apply flex-1 text-center cursor-pointer hover:scale-95 rounded-lg shadow-md text-wrap p-1 transition-scale;
  }
  .header-button-hover {
    @apply scale-105 border-4 border-borderColor;
  }
  .body-width {
    @apply w-[82%] xl:w-[65.666667%] mx-[0.5%] left-[16.666667%] rounded-md;
  }
  .body-container {
    @apply absolute body-width flex flex-col rounded-md mt-[5rem] transition-slide overflow-y-auto;
  }

  .text-balance {
    text-wrap: balance;
  }
  .transition-scale {
    @apply transition-all duration-150 ease-out;
  }
  .transition-slide {
    @apply transition-all duration-500 ease-out;
  }
  .transition-fast {
    @apply transition-all duration-150 ease-out;
  }
  .make-center {
    @apply flex justify-center items-center;
  }

  .header-button {
    @apply font-bold flex-1 h-full cursor-pointer make-center flex-col hover:header-button-hover;
  }
}
