@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

body {
  color: rgb(var(--foreground-rgb));
  background: #979dac;
  background-blend-mode: color-burn;
}

@layer utilities {
  .item-tag {
    @apply py-4 md:px-4 cursor-pointer hover:scale-110 flex justify-center md:justify-between rounded-md transition-scale;
  }
  .item-card {
    @apply rounded-md h-[400px]  flex flex-col rounded-t-md shadow-md mb-1;
  }
  .item-sub-card {
    @apply rounded-md w-full flex flex-row shadow-md;
  }
  .search-focus {
    @apply outline-none ring ring-searchRingColor;
  }
  .header-button-hover {
    @apply scale-105 shadow-hoverBox;
  }
  .body-width {
    @apply ssm:w-[82%] xl:w-[65.666667%] mx-[0.5%] left-[16.666667%] rounded-md;
  }
  .body-container {
    @apply absolute body-width flex flex-col mt-[5.2em] overflow-y-auto;
  }
  .text-balance {
    text-wrap: balance;
  }
  .transition-scale {
    @apply transition-all duration-150 ease-out;
  }
  .transition-slide {
    @apply transition-all duration-500 ease-out;
  }
  .transition-fast {
    @apply transition-all duration-100 ease-out;
  }
  .make-center {
    @apply flex justify-center items-center;
  }
  .header-button {
    @apply font-bold flex-1 h-full cursor-pointer make-center flex-col hover:header-button-hover;
  }
  .user-buttons {
    @apply cursor-pointer p-2 rounded-full hover:shadow-hoverBox transition-fast;
  }
}
