@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .body-width {
    @apply w-[65.666667%] mx-[0.5%] left-[16.666667%] rounded-t-md;
  }
  .body-container {
    @apply h-full absolute body-width shadow-2xl bg-slate-50 bg-opacity-15 p-1 flex flex-col;
  }
  .basic-search {
    @apply flex-1 text-center cursor-pointer hover:scale-95 rounded-lg shadow-md text-wrap p-1 transition-scale;
  }
  .text-balance {
    text-wrap: balance;
  }
  .transition-scale {
    @apply transition-all duration-150 ease-out;
  }
  .transition-slide {
    @apply transition-all duration-500 ease-out;
  }
}
